/* 兼容火狐浏览器 */
* {
	scrollbar-color: #eeeeee #ffffff;
	scrollbar-width: thin;
}

:root {
	--module-bg: rgb(4 32 103 / 50%);
}

html,
body {
	/* 300px */
	min-width: 375px;
	min-height: 650px;
	padding: 0;
	margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 滚动条的宽度 兼容旧版本 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

/* 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果 */

/* ::-webkit-scrollbar-track {
	width: 5px;
	border-radius: 50px;
} */

/* 滚动条的设置 */

/* ::-webkit-scrollbar-thumb {
	background: #eeeeee;
	border: 0;
	border-radius: 10px;
} */

/* 滚动条移上去的背景 */

/* ::-webkit-scrollbar-thumb:hover {
	background: #eeeeee;
} */
