html,
body {
	/* 300px */
	min-width: 375px;
	min-height: 650px;
	padding: 0;
	margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
